<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Gallery</display-name>
	<welcome-file-list>
		<welcome-file>gallery/gallery.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>mysqlurl</param-name>
		<param-value>jdbc:mysql://test.ceavxmsqo5ce.us-west-2.rds.amazonaws.com:3306/gallery</param-value>
	</context-param>
	<!-- <context-param>
		<param-name>mysqlurl</param-name>
		<param-value>jdbc:mysql://127.0.0.1:3306/gallery</param-value>
	</context-param> -->
	<context-param>
		<param-name>mysqlpwd</param-name>
		<param-value>eecs118</param-value>
	</context-param>
	<context-param>
		<param-name>mysqlacc</param-name>
		<param-value>gallery</param-value>
	</context-param>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>/home/user/mp2/data/</param-value>
	</context-param>
	<context-param>
		<description>Location to store temped uploaded file</description>
		<param-name>file-upload-temp</param-name>
		<param-value>/temp/</param-value>
	</context-param>

	<servlet>
		<servlet-name>home</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>artist</servlet-name>
		<jsp-file>/artist.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>artist</servlet-name>
		<url-pattern>/artist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifyartist</servlet-name>
		<jsp-file>/modifyartist.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyartist</servlet-name>
		<url-pattern>/modifyartist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifyartistPage</servlet-name>
		<jsp-file>/modifyartistPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyartistPage</servlet-name>
		<url-pattern>/modifyartistPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifygalleryPage</servlet-name>
		<jsp-file>/modifygalleryPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifygalleryPage</servlet-name>
		<url-pattern>/modifygalleryPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>creategallery</servlet-name>
		<jsp-file>/creategallery.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>creategallery</servlet-name>
		<url-pattern>/creategallery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>findPage</servlet-name>
		<jsp-file>/findPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>findPage</servlet-name>
		<url-pattern>/findPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>createartist</servlet-name>
		<jsp-file>/createartist.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>createartist</servlet-name>
		<url-pattern>/createartist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>createimage</servlet-name>
		<jsp-file>/createimage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>createimage</servlet-name>
		<url-pattern>/createimage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteimage</servlet-name>
		<jsp-file>/deleteimage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteimage</servlet-name>
		<url-pattern>/deleteimage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifyimage</servlet-name>
		<jsp-file>/modifyimage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyimage</servlet-name>
		<url-pattern>/modifyimage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fileupload</servlet-name>
		<jsp-file>/FileUpload.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileupload</servlet-name>
		<url-pattern>/FileUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.txt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.bmp</url-pattern>
	</servlet-mapping>
</web-app>